---
import type { SanityClient } from "@sanity/client";

import type { SanityGameCard } from "@utils/sanity.ts";
import sanityImgUrl from "@utils/image";

type Props = SanityGameCard & { client: SanityClient };
const { title, slug, header, client } = Astro.props;

const bg = sanityImgUrl(client, header).auto(`format`).fit(`max`).width(668).quality(100).url();

const container = `group relative overflow-hidden cursor-pointer h-[12.5rem] sm:h-[15.625rem] xl:h-[19.6875rem] 2xl:h-[21.875rem] rounded border-green-800 border-2 md:border-[3px] bg-center bg-cover`;

const inner = `detail flex flex-col justify-center items-stretch p-4 xl:p-5`;

const titleStyle = `font-display font-bold uppercase text-center text-green-100 text-4xl leading-[100%] sm:text-[2.5rem] lg:text-5xl xl:text-6xl 2xl:text-7xl`;
---

<div class={container} style={`background-image: url(${bg});`} id="container">
  <div class={inner}>
    <h3 class={titleStyle}>{title}</h3>
  </div>
</div>

<script define:vars={{ slug: slug.current }}>
  const container = document.getElementById(`container`);
  container.addEventListener(`click`, () => {
    window.location.assign(`/games/${slug}`);
  });
</script>

<style>
  .detail {
    height: calc(12.5rem + 150%);
    @media (min-width: 640px) {
      height: calc(15.625rem + 150%);
    }
    @media (min-width: 1280px) {
      height: calc(19.6875rem + 150%);
    }
    @media (min-width: 1024px) {
      height: calc(21.875rem + 150%);
    }

    transition-property: all;
    transition-duration: 500ms;
  }

  .detail:hover {
    background: rgba(19, 93, 80, 0.5);
    height: 12.5rem;
    @media (min-width: 640px) {
      height: 15.625rem;
    }
    @media (min-width: 1280px) {
      height: 19.6875rem;
    }
    @media (min-width: 1024px) {
      height: 21.875rem;
    }
  }
</style>
