---
import type { SanityClient } from "@sanity/client";

import type { SanityGameCard } from "@utils/sanity";
import sanityImgUrl from "@utils/image";

import FeaturedTag from "../ui/tag/feat.astro";
import pointer from "@icons/pointer.svg?raw";

type Props = SanityGameCard & { client: SanityClient };
const { title, slug, blurb, tags, header, client } = Astro.props;

const bg = sanityImgUrl(client, header).auto(`format`).fit(`max`).width(1376).quality(100).url();

const url = `/games/${slug.current}`;
---

<div
  class="inner group game__feat-container"
  style={`background-image: url(${bg});`}
  id="container"
>
  <div class="detail game__feat-inner">
    <h3 class="game__feat-title">{title}</h3>
    <div class="w-full flex flex-col space-y-2 sm:space-y-3 xl:space-y-4">
      <p
        class="clamped font-sans font-medium text-green-100 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
      >
        {blurb}
      </p>
      <div class="flex items-center justify-between">
        <div class="flex space-x-1 sm:space-x-2 lg:space-x-3 xl:space-x-4">
          {
            tags.map((tag) => (
              <FeaturedTag title={tag.title} slug={`/tags/${tag.slug.current}`} type="game" />
            ))
          }
        </div>
        <a
          href={url}
          class="flex items-center font-display text-green-100 w-8 sm:w-10 xl:w-12 2xl:w-14"
          aria-label={`${title} Info`}
        >
          <Fragment set:html={pointer} />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .detail {
    background: rgba(19, 93, 80, 0.5);
    height: calc(17.1875rem + 50%);
    @media (min-width: 640px) {
      height: calc(18.75rem + 50%);
    }
    @media (min-width: 768px) {
      height: calc(20.3125rem + 50%);
    }
    @media (min-width: 1024px) {
      height: calc(21.875rem + 50%);
    }
    @media (min-width: 1280px) {
      height: calc(28.125rem + 50%);
    }

    transition-property: all;
    transition-duration: 500ms;
  }

  .detail:hover {
    background: rgba(5, 55, 59, 0.5);
    height: 17.1875rem;
    @media (min-width: 640px) {
      height: 18.75rem;
    }
    @media (min-width: 768px) {
      height: 20.3125rem;
    }
    @media (min-width: 1024px) {
      height: 21.875rem;
    }
    @media (min-width: 1280px) {
      height: 28.125rem;
    }
  }
</style>
