---
import { sanityClient } from "sanity:client";
import type { ImageAsset } from "@sanity/types";
import { Image } from "astro:assets";
import { YouTube } from "@astro-community/astro-embed-youtube";

import type { SanityGame } from "@utils/sanity";
import sanityImgUrl from "@utils/image";

import MediaAccordion from "./media-accordion.astro";
import Button from "@components/ui/button/secondary.astro";

type Props = SanityGame["media"] & { size: `sm` | `lg` };

const { videos, images, logoIcons, size } = Astro.props;

const imageURL = (asset: ImageAsset) =>
  sanityImgUrl(sanityClient, asset).auto(`format`).fit(`max`).width(453).quality(100).url();

const logoURL = (asset: ImageAsset) =>
  sanityImgUrl(sanityClient, asset).auto(`format`).fit(`max`).width(1376).quality(100).url();
---

<div class="media__wrapper">
  {
    videos && (
      <MediaAccordion title="Videos" id={`videos-${size}`}>
        <div class="media-accordion__videos">
          {videos.map((vid) => (
            <YouTube id={vid.url} />
          ))}
        </div>
      </MediaAccordion>
    )
  }
  {
    images && (
      <MediaAccordion title="Images" id={`images-${size}`}>
        <div class="media-accordion__images">
          {images.map((img) => {
            const src = imageURL(img);
            return (
              <div>
                <Image src={src} alt="" loading="lazy" inferSize />
              </div>
            );
          })}
        </div>
      </MediaAccordion>
    )
  }
  {
    logoIcons && (
      <MediaAccordion title="Logos & Icons" id={`icons-${size}`}>
        <div class="media-accordion__logos">
          {logoIcons.map((logo) => {
            const src = logoURL(logo);
            return (
              <div>
                <Image src={src} alt="" loading="lazy" inferSize />
              </div>
            );
          })}
        </div>
      </MediaAccordion>
    )
  }
  <Button label="Download Press Kit" href="#" icon="download" />
</div>
