---
import { Icon } from "astro-icon/components";
interface Props {
  name: string;
  position: string;
  website?: string;
}

const { name, position, website } = Astro.props;

const nameStyle = `settings text-green-800 text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl`;
---

<div class="flex flex-col lg:space-y-1 2xl:space-y-2 font-display">
  <h3
    class="w-full font-bold text-green-600 text-2xl md:text-3xl lg:text-[40px] lg:py-1 xl:text-5xl"
  >
    {position}
  </h3>
  {
    website ? (
      <a
        href={website}
        target="_blank"
        rel="noreferrer"
        class={`${nameStyle} flex items-center space-x-1 lg:space-x-1.5 hover:text-green-600`}
      >
        <span>{name}</span>
        <span class="flex w-4 md:w-5 lg:w-6 2xl:w-7">
          <Icon name="external-link" />
        </span>
      </a>
    ) : (
      <p class={nameStyle}>{name}</p>
    )
  }
</div>
