---
import { Icon } from "astro-icon/components";
import arrow from "@icons/arrow.svg?raw";

interface Props {
  label: string;
  href: string;
  icon?: {
    position: `left` | `right`;
    direction: `left` | `right`;
  };
}

const { label, href, icon } = Astro.props;

const padding = `px-4 py-0.5 sm:px-5 sm:py-1 xl:px-7 xl:py-2.5`;
const text = `font-display font-bold uppercase text-lg sm:text-xl md:text-2xl xl:text-3xl 2xl:text-4xl xl:leading-[100%]`;
const shadow = `shadow-sm hover:shadow-xs sm:shadow sm:hover:shadow-sm md:shadow-lg md:hover:shadow lg:shadow-xl lg:hover:shadow-lg`;
const shared = `flex items-center bg-green-300 text-green-700 settings nowrap rounded border-green-700 border-[1.5px] lg:border-2`;
const style = `${padding} ${text} ${shadow} ${shared}`;

const iconSize = `flex w-5 md:w-6 xl:w-8`;
const iconMargin = icon?.position === `left` ? `mr-1` : `ml-1`;
---

<a href={href} class={`${style} ${icon?.position === `right` && `flex-row-reverse`}`}>
  {
    icon && (
      <div class={`${iconSize} ${iconMargin} ${icon.direction === `left` && `rotate-180`}`}>
        <Fragment set:html={arrow} />
      </div>
    )
  }
  {label}
</a>
