---
import { SEO } from "astro-seo";

import Navigation from "@components/layout/nav.tsx";
import PageHeader from "@components/layout/page-header.astro";
import Footer from "@components/layout/footer.astro";

import global from "@styles/global.css";

export interface Props {
  title: string;
  header?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const ogImgURL = new URL(`/opengraph.png`, Astro.site).toString();

const { title = "Micro studio + yummy designs", header } = Astro.props;

const pageTitle = `${title} | Goblin Delight`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" type="text/css" href={global} />

    <SEO
      title={pageTitle}
      description=""
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: `website`,
          title: `micro studio + yummy designs`,
          image: ogImgURL,
        },
        image: {
          alt: `Goblin Delight`,
        },
      }}
    />
  </head>
  <body>
    <!-- <Nav /> -->
    <Navigation client:visible />
    {header && <PageHeader title={header} />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
