---
import { SEO } from "astro-seo";

import Nav from "@components/layout/nav.astro";
import PageHeader from "@components/layout/page-header.astro";
import CTA from "@components/layout/cta.astro";
import Footer from "@components/layout/footer.astro";

export interface Props {
  title: string;
  desc: string;
  header?: string;
}

const { pathname, origin } = Astro.url;

const canonicalURL = `${origin}/${pathname}`;

const { title = "Micro studio + yummy designs", desc, header } = Astro.props;

const pageTitle = `${title} | Goblin Delight`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script src="https://analytics.us.umami.is/script.js" data-website-id="e3685622-b08c-4825-848c-e234b2705894"></script>
    <style is:global>
      @import "@assets/style/global.css";
    </style>

    <SEO
      title={pageTitle}
      description={desc}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: `website`,
          title: `micro studio + yummy designs`,
          image: `https://raw.githubusercontent.com/ronniekram/goblin-delight/dev/web/public/opengraph.png`,
        },
        image: {
          alt: `Goblin Delight`,
        },
      }}
    />
  </head>
  <body>
    <Nav />
    <PageHeader title={header} />
    <main>
      <slot />
    </main>
    <CTA />
    <Footer />
  </body>
</html>
