---
import { Image } from "astro:assets";
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import { sanityClient } from "sanity:client";

import { gameDetail, allGameSlugs, type SanityGame } from "@utils/sanity";
import sanityImgUrl from "@utils/image";

import Page from "@layouts/page.astro";
import Header from "@components/game/header.astro";
import List from "@components/game/list.astro";
import ListItem from "@components/game/list-item.astro";
import Detail from "@components/game/detail.astro";
import TeamMember from "@components/game/team.astro";
import Accordion from "@components/game/info-accordion.astro";
import Button from "@components/ui/button/primary.astro";

export async function getStaticPaths() {
  const games = await sanityClient.fetch(allGameSlugs);
  return games.map((game: { slug: { current: string } }) => ({
    params: { slug: game.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const game: SanityGame = (await sanityClient.fetch(gameDetail, { slug })) || {};

const { basic, details, media } = game;

const logs =
  details?.blogs?.map((blog) => ({
    label: blog.title,
    url: blog.slug.current,
  })) || [];

const headerImg = sanityImgUrl(sanityClient, basic?.header)
  .auto(`format`)
  .fit(`max`)
  .width(1376)
  .quality(100)
  .url();

const featList = `flex flex-col space-y-2.5 sm:space-y-3 lg:space-y-4 xl:space-y-5 2xl:space-y-6`;
const grid = `grid grid-cols-2 gap-4 sm:gap-5 md:gap-6 lg:gap-4 xl:gap-8`;
---

<Page title={basic?.title} header="Games & Projects">
  <div class="wrapper w-full flex flex-col items-end space-y-5 sm:space-y-8">
    <section class="inner flex flex-col space-y-4 sm:space-y-5">
      {
        basic?.header && (
          <div class="flex w-full rounded overflow-hidden border-green-700 border-2 lg:border-[3px] h-[8rem] sm:h-[12.5rem] md:h-[14.0625rem] lg:h-[18.75rem] xl:h-[23.4375rem] 2xl:h-[28.125rem]">
            <Image
              alt={basic.title}
              src={headerImg}
              loading="eager"
              inferSize
              class="object-cover object-center"
            />
          </div>
        )
      }
      <Header title={basic.title} tags={basic.tags} />
    </section>
    <section
      class="inner flex flex-col space-y-1 font-sans text-green-800 text-sm sm:text-base md:text-lg lg:text-xl lg:space-y-3 xl:text-2xl 2xl:text-3xl 2xl:space-y-4"
    >
      <PortableText value={basic.description} />
    </section>

    <section class="inner grid grid-cols-2 gap-x-5 sm:gap-x-10">
      <List title="Dev Logs" links={logs} />
      <List title="Links" links={details.links} />
    </section>
  </div>
  <section class="w-full flex flex-col space-y-5 sm:space-y-8">
    <Accordion title="Features">
      <ul class={`${featList} pl-4 list-outside`}>
        {basic.features.map((feat) => <ListItem text={feat} />)}
      </ul>
    </Accordion>
    <Accordion title="Details">
      <div class={grid}>
        {details?.release && <Detail title="Release Date" content={details.release} />}
        {details?.genre && <Detail title="Genre" content={details.genre} />}
        {details?.platforms && <Detail title="Platforms" content={details.platforms} />}
        {details?.madeWith && <Detail title="Made With" content={details.madeWith} />}
        {details?.jam && <Detail title="Game Jam" content={details.jam} />}
      </div>
    </Accordion>
    <!-- MEDIA GOES HERE -->
    <Accordion title="Team">
      <div class={grid}>
        {
          details?.team.map((member) => (
            <TeamMember name={member.name} position={member.position} website={member?.website} />
          ))
        }
      </div>
    </Accordion>
  </section>
  <section class="wrapper pt-5 pb-12">
    <div class="inner flex justify-end">
      <Button label="All Games" href="/games" icon={{ position: `left`, direction: `left` }} />
    </div>
  </section>
</Page>
