---
import { sanityClient } from "sanity:client";

import Page from "@layouts/page.astro";
import { homePage, type SanityHome, type SanityBlogCard } from "@utils/sanity";
import Header from "@components/home/header.astro";
import FeaturedGame from "@components/game/featured.astro";
import FeaturedBlog from "@components/blog/featured.astro";
import Button from "@components/ui/button/primary.astro";

import divider from "@assets/svg/divider.svg?raw";

const page: SanityHome = (await sanityClient.fetch(homePage)) || {};
const { tagline, intro, featured } = page;
---

<Page title="micro studio + yummy designs" desc={intro}>
  <article class="flex flex-col space-y-8 sm:space-y-10 lg:space-y-16 2xl:space-y-14">
    <section class="wrapper">
      <Header title="Goblin Delight" tagline={tagline} intro={intro} />
    </section>
    <div class="flex">
      <Fragment set:html={divider} />
    </div>

    <section
      class="wrapper flex flex-col space-y-10 md:space-y-12 lg:space-y-14 2xl:space-y-16 2xl:pt-14"
    >
      <section class="inner section__wrapper">
        <h2 class="section__title">Featured Game</h2>
        <FeaturedGame {...featured.game} client={sanityClient} />
        <Button label="All games" href="/games" icon={{ position: `left`, direction: `right` }} />
      </section>

      <section class="inner section__wrapper">
        <h2 class="section__title">Featured Post</h2>
        <FeaturedBlog {...featured.post as SanityBlogCard} client={sanityClient} />
        <Button label="All posts" href="/blog" icon={{ position: `left`, direction: `right` }} />
      </section>
    </section>
  </article>
</Page>
