---
import { Image } from "astro:assets";

import type { SanityHome } from "@utils/sanity.ts";
import illustration from "@assets/home-illustration.png";
import arrow from "@icons/arrow.svg?raw";

type Props = Omit<SanityHome, "featured">;

const { title, tagline, intro } = Astro.props;
---

<section class="inner index-header">
  <div class="index-header__image">
    <Image
      alt="A shih tzu goblin with an onion for a head"
      src={illustration}
      loading="eager"
      widths={[200, 250, 375, 450, 500]}
      sizes={`(max-width: 767px) 200px,
        (max-width: 1023px) 250px,
        (max-width: 1279px) 375px,
        (max-width: 1535px) 450px,
        500px`}
      quality={100}
    />
  </div>

  <div class="flex flex-col space-y-1.5">
    <div>
      <h1 class="index-header__title">{title}</h1>
      <div class="flex items-center space-x-0.5 text-green-600">
        <div class="index-header__arrow">
          <Fragment set:html={arrow} />
        </div>
        <p class="index-header__tagline">{tagline}</p>
      </div>
    </div>
    <p class="index-header__desc">{intro}</p>
  </div>
</section>
