---
import type { SanityClient } from "@sanity/client";

import type { SanityBlogCard } from "@utils/sanity";
import sanityImgUrl from "@utils/image";
import formatDate from "@utils/format-date";

import CardTag from "@components/ui/tag/card.astro";
import Button from "@components/ui/button/secondary.astro";

type Props = SanityBlogCard & { client: SanityClient };
const { title, slug, tags, titleImg, _createdAt, estimatedReadingTime, client } = Astro.props;

const bg = sanityImgUrl(client, titleImg).auto(`format`).fit(`max`).width(668).quality(100).url();
---

<div class="blog-card">
  <div class="blog-card__top" style={`background-image: url(${bg});`}>
    {tags.map((tag) => <CardTag label={tag.title} href={`/tags/${tag.slug.current}`} />)}
  </div>
  <div class="blog-card__bottom">
    <div class="w-full flex flex-col space-y-1 xl:space-y-1.5 2xl:space-y-2">
      <div
        class="w-full flex items-center justify-between font-display uppercase text-xl xl:text-2xl 2xl:text-3xl"
      >
        <p>{formatDate(_createdAt)}</p>
        <p>{estimatedReadingTime} min read</p>
      </div>
      <h3 class="blog-card__title">{title}</h3>
    </div>
    <div class="flex justify-end">
      <Button label="Read more >>" href={`/blog/${slug.current}`} />
    </div>
  </div>
</div>
