---
import type { SanityClient } from "@sanity/client";
import type { SanityBlogCard } from "@utils/sanity.ts";
import formatDate from "@utils/format-date.ts";
import sanityImageUrl from "@utils/image.ts";

import FeaturedTag from "../ui/tag/feat.astro";
import Button from "../ui/button/secondary.astro";

type Props = SanityBlogCard & { client: SanityClient };

const { title, slug, tagline, tags, titleImg, _createdAt, estimatedReadingTime, client } =
  Astro.props;

const imgURL = sanityImageUrl(client, titleImg)
  .auto(`format`)
  .fit(`max`)
  .width(1376)
  .quality(100)
  .url();
---

<div class="blog-feature inner">
  <div class="blog-feature__image" style={`background-image: url(${imgURL});`}>
    {
      tags &&
        tags.map((tag) => (
          <FeaturedTag title={tag.title} slug={`/tags/${tag.slug.current}`} type="blog" />
        ))
    }
  </div>
  <div class="blog-feature__body">
    <div class="blog-feature__date">
      <p>{formatDate(_createdAt)}</p>
      <p>{estimatedReadingTime} min read</p>
    </div>
    <div class="font-sans flex flex-col space-y-1 xl:space-y-2">
      <h3 class="blog-feature__title">{title}</h3>
      <p class="blog-feature__tagline">
        {tagline}
      </p>
    </div>
    <Button label="Read more >>" href={`/blog/${slug.current}`} />
  </div>
</div>
