---
import { sanityClient } from "sanity:client";
import type { SanityBlogCard } from "@utils/sanity.ts";
import formatDate from "@utils/format-date.ts";
import sanityImageUrl from "@utils/image.ts";

import FeaturedTag from "../ui/tag/feat.astro";
import Button from "../ui/button/secondary.astro";

type Props = SanityBlogCard;

const { title, slug, tagline, tags, titleImg, _createdAt, estimatedReadingTime } = Astro.props;
const imgURL = sanityImageUrl(sanityClient, titleImg).url();

console.log(tags);

const container = `overflow-hidden w-full bg-green-200 text-green-700 border-2 border-green-800 rounded flex flex-col md:flex-row lg:border-[3px] shadow shadow-green-800 md:shadow-lg xl:shadow-xl`;
const imageWrapper = `bg-center bg-cover flex flex-shrink-0 space-x-2 h-[12.5rem] p-4 sm:p-5 lg:px-6 xl:px-8 2xl:px-10 md:w-[47%] md:h-auto md:items-stretch lg:w-[48%] xl:w-[49%] 2xl:w-[45%]`;
const bodyWrapper = `flex flex-col items-end space-y-2 p-4 pt-2 sm:p-5 sm:space-y-3 lg:p-6 lg:space-y-5 xl:p-8 2xl:px-14`;
const heading = `font-bold text-green-600 text-lg sm:text-2xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-[2.5rem] 2xl:leading-[2.5rem]`;
---

<div class={container}>
  <div class={imageWrapper} style={`background-image: url(${imgURL});`}>
    {
      tags.map((tag) => (
        <FeaturedTag title={tag.title} slug={`/tags/${tag.slug.current}`} type="blog" />
      ))
    }
  </div>
  <div class={bodyWrapper}>
    <div
      class="w-full flex items-center justify-between font-display uppercase text-lg sm:text-xl xl:text-2xl"
    >
      <p>{formatDate(_createdAt)}</p>
      <p>{estimatedReadingTime} min read</p>
    </div>
    <div class="font-sans flex flex-col space-y-1">
      <h3 class={heading}>{title}</h3>
      <p class="text-green-700 text-xs leading-[20px] sm:text-sm xl:text-base 2xl:text-lg">
        {tagline}
      </p>
    </div>
    <Button label="Read more >>" href={`/blog/${slug.current}`} />
  </div>
</div>
