---
interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;

const padding = `px-6 pt-[5px] pb-1 md:pt-1.5 md:pb-[5px] xl:px-7 xl:py-2`;
const text = `font-sans font-bold uppercase tracking-[4%] text-[12px] leading-[100%] lg:text-[14px] xl:text-[16px]`;
const base = `settings nowrap rounded-[2.75rem] bg-green-600/60 text-green-100 hover:bg-green-600`;

const style = `${padding} ${text} ${base}`;
---

<a href={href} class={style}>
  {label}
</a>
