---
interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;

const padding = `px-4 pt-[5px] pb-[4px] sm:px-6 md:pt-[7px] md:pb-1.5 lg:py-1.5 xl:px-8 xl:py-2`;
const text = `font-sans font-bold uppercase text-[12px] leading-[100%] tracking-[4%] sm:text-[14px] lg:text-[16px] xl:text-[18px]`;
const base = `settings h-fit nowrap rounded-[2.75rem] bg-green-300 text-green-700 hover:bg-green-600 hover:text-green-200 border border-green-400 hover:border-green-600`;

const style = `${padding} ${text} ${base}`;
---

<a href={href} class={style}>
  {label}
</a>
